// variables tipograficas
$old-standard-reg:'Old Standard TT', serif;
$old-standard-bold:700;
$fontsize:3rem;
$Raleway:'Raleway', sans-serif;
$Raleway-bold:900;

//Variables de colores
// color del blanco al gris claro

$blanco:#fff;
$blanco-isabel:#ececec;
$blanco-gray:#d1d1d1;

//color negro a gris
$smoky-black:#0c0910;
$smoky-granite:#646266;
$smoky-silver:#a6a5ab;

//tamaños fuentes (sin px para usar el converter de mixin)
$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;
