@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/*Old Standard TT', serif*/
/* sección principal y botón */
.section {
  padding: 1em 4em;
}

.section h1 {
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  padding-top: 1em;
}

.section p {
  padding-top: 1em;
  padding-bottom: 1em;
}

.section button {
  padding: 0.5em;
}

/* imagen principal */
.pict {
  width: 100%;
  height: 100%;
  background-image: url("./../img/imagen1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pict img {
  max-width: 90%;
}

.footer {
  position: relative;
  padding: 1em 4em;
  width: 93%;
}

.footer h3 {
  font-family: "Old Standard TT", serif;
  font-style: 700;
  color: #fff;
  font-size: 1.5rem;
  padding-bottom: 0.5em;
}

.footer p {
  font-family: "Old Standard TT", serif;
  font-style: 700;
  color: #fff;
}

footer input {
  padding: 0.5em;
}

/*texto vertical */
h4 {
  font-family: "Old Standard TT", serif;
  font-style: 700;
  position: absolute;
  text-transform: uppercase;
  font-size: 1em;
  left: 3%;
  top: 20%;
}

h4:nth-child(1) {
  margin-left: 100%;
}

.texto-vertical-1 {
  writing-mode: vertical-lr;
}

/*metodo bem todo el -header nav*/
/*tamaño grande escritorio */
.header {
  position: absolute;
  width: 90%;
}

.nav__collapsible label {
  display: none;
}

.nav__container {
  min-height: 100%;
  padding: 0.5em 3em;
  overflow: visible;
}

.nav__ul {
  display: flex;
  justify-content: flex-end;
}

.nav__li {
  list-style: none;
}

#menu {
  display: none;
}

.nav__logo-text {
  position: absolute;
  top: 0.5%;
  background-color: #000;
  color: #fff;
  padding: 1em;
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-size: 1.7em;
}

.nav__li a {
  display: inline-block;
  /* background-color: rgb(85, 146, 85); */
  padding: 1em;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 900;
  text-decoration: none;
  color: #161616;
}
.nav__li a:hover {
  color: #972727;
}

/*Grilla CSS- definición de áreas*/
.header {
  grid-area: header;
  /* background-color: rgb(72, 114, 228); */
}

.main {
  grid-area: main;
  /* background-color: rgb(30, 210, 135); */
}

.pict {
  grid-area: pict;
  /* background-color: rgb(131, 145, 13); */
}

.footer {
  grid-area: footer;
  background-color: #0c0910;
}

/* Aquí se define la grilla para desktop por defecto */
.container {
  max-width: 90%;
  /* background-color:rgb(201, 231, 29); */
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 100% 100% 100%;
  grid-template-areas: "header header header header header header header header header header header header" "main main main main main pict pict pict pict pict pict pict" "main main main main main pict pict pict pict pict pict pict" "footer footer footer footer footer pict pict pict pict pict pict pict";
}

/* Para tablet */
@media (max-width: 960px) {
  .pict {
    width: 100%;
    height: 100%;
    background-image: url("./../img/imagen1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .pict img {
    max-width: 100%;
  }

  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 400px 100% 100%;
    grid-template-areas: "header header header header" "pict pict pict pict" "main main main main" "footer footer footer footer";
  }
}
/*tamaño menor a 576 - móviles */
@media (max-width: 576px) {
  .pict {
    width: 100%;
    height: 100%;
    background-image: url("./../img/imagen1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .pict img {
    max-width: 100%;
  }

  .container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 400px 100% 100%;
    grid-template-areas: "header header header header" "pict pict pict pict" "main main main main" "footer footer footer footer";
  }

  /*media query de la navegacion*/
  /*metodo bem todo el -header nav*/
  .nav__navigation-list {
    position: absolute;
    width: 100%;
  }

  .nav__collapsible {
    position: absolute;
    text-align: right;
    right: 10%;
  }
  .nav__collapsible label {
    display: block;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
    padding-left: 9em;
    margin-left: 4rem;
    font-size: 2em;
  }

  input:checked ~ .nav__container {
    max-height: 100%;
  }

  .nav__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
  }

  .nav__ul {
    list-style-type: none;
    display: block;
  }

  .nav__li a {
    text-align: left;
    text-decoration: none;
    color: #757171;
  }
  .nav__li a:hover {
    color: #972727;
  }
}

/*# sourceMappingURL=main.css.map */
